{% load static %}
<section class="info_section ">
    <div class="container">
      <div class="info_top">
        <div class="info_logo">
          <a href="">
            <img src="{% static 'images/logo.png '%}" alt="">
          </a>
        </div>
        <div class="info_form">
          <form action="">
            <input type="email" placeholder="ایمیل شما">
            <button>
              عضویت
            </button>
          </form>
        </div>
      </div>
      <div class="info_bottom layout_padding2">
        <div class="row info_main_row">
          <div class="col-md-6 col-lg-3">
            <h5>
              آدرس
            </h5>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                {{information.subtitle}}
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  {{information.phone}}
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope"></i>
                <span>
                  {{information.email}}
                </span>
              </a>
            </div>
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h5>
              لینک های مفید
              </h5>
              <div class="info_links_menu">
                <a class="active" href="index.html">
                  خانه
                </a>
                <a href="about.html">
                  درباره ما
                </a>
                <a href="treatment.html">
                  درمان
                </a>
                <a href="doctor.html">
                  دکتر ها
                </a>
                <a href="testimonial.html">
                  سازمان ها
                </a>
                <a href="contact.html">
                تماس با ما
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_post">
              <h5>
                آخرین مطالب
              </h5>
              <div class="post_box">
                <div class="img-box">
                  <img src="{% static 'images/post1.jpg' %}" alt="">
                </div>
                <p>
                 لورم ایپسوم
                </p>
              </div>
              <div class="post_box">
                <div class="img-box">
                  <img src="{% static 'images/post2.jpg '%}" alt="">
                </div>
                <p>
                  لورم ایپسوم
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_post">
              <h5>
                اخبار
              </h5>
              <div class="post_box">
                <div class="img-box">
                  <img src="{% static 'images/post3.jpg' %}" alt="">
                </div>
                <p>
                  لورم ایپسوم
                </p>
              </div>
              <div class="post_box">
                <div class="img-box">
                  <img src="{% static 'images/post4.png' %}" alt="">
                </div>
                <p>
                  لورم ایپسوم
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
   <span id="displayYear"></span>
  {{information.copyright}}
      </p>
    </div>
  </footer>
  <!-- footer section -->