{% load static %}
<header class="header_section">
    <div class="header_top">
      <div class="container">
        <div class="contact_nav">
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              تماس : {{information.phone}}
            </span>
          </a>
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>
              ایمیل : {{information.email}}
            </span>
          </a>
          <a href="">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>
              {{information.subtitle}}
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'images/logo.png' %}" alt="">
          </a>


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'main:home' %}">خانه <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:about' %}"> درباره ما</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'treatment:list' %}">درمان</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'doctors:list' %}">دکتر ها</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact:add' %}">تماس با ما</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>